In [4]:
x = input("Enter a string: ")

odd_characters = ""
for i in range(len(x)):
    if i % 2 != 0:
        odd_characters += x[i]

print("Characters at odd positions:", odd_characters)

Enter a string: satyam
Characters at odd positions: aym

In [6]:
x = input("Enter a string: ")
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count = 0

for char in x:
    if char in consonants:
        count += 1

print("Total number of consonants:", count)

Enter a string: ravimohan
Total number of consonants: 5

In [20]:
divisible_by_seven = []


for number in range(1, 100):
    if number % 7 == 0:
        divisible_by_seven.append(number)

print("Numbers divisible by 7 from 1 to 100:", divisible_by_seven)

Numbers divisible by 7 from 1 to 100: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [22]:
divisible_by_seven_nine = []
for number in range(1, 100):
    if number % 7 == 0 and number % 9 == 0:
        divisible_by_seven_nine.append(number)

print("Numbers divisible by 7 and 9 from 1 to 100:", divisible_by_seven_nine)

Numbers divisible by 7 and 9 from 1 to 100: [63]

In [25]:
even_numbers = []

for number in range(1, 100):
    if number % 2 == 0:
        even_numbers.append(number)

print("Even numbers between 1 and 100:", even_numbers)

Even numbers between 1 and 100: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [26]:
divisible_by_three = []

for number in range(1, 100):
    digit_sum = sum(int(digit) for digit in str(number))
    if digit_sum % 3 == 0:
        divisible_by_three.append(number)

print("Numbers divisible by 3 between 1 and 100:", divisible_by_three)

Numbers divisible by 3 between 1 and 100: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [27]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

if number1 % 4 == 0 and number2 % 6 == 0:
    print(f"{number1} is divisible by 4 and {number2} is divisible by 6.")
else:
    print(f"{number1} is not divisible by 4 and/or {number2} is not divisible by 6.")

Enter the first number: 44
Enter the second number: 66
44 is divisible by 4 and 66 is divisible by 6.

In [31]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

if number1 % 4 == 0 and number2 % 6 == 0:
    if number1 % 4 == 0 and number2 % 6 == 0:
        print(f"{number1} is divisible by 4 and {number2} is divisible by 6.")
    else:
        print(f"{number1} is divisible by 4 but {number2} is not divisible by 6.")
elif number1 % 4 == 0:
    print(f"{number1} is divisible by 4 but {number2} is not divisible by 6.")
elif number2 % 6 == 0:
    print(f"{number2} is divisible by 6 but {number1} is not divisible by 4.")
else:
    print(f"Neither {number1} is divisible by 4 nor {number2} is divisible by 6.")

Enter the first number: 44
Enter the second number: 64
44 is divisible by 4 but 64 is not divisible by 6.

In [32]:
variable = 35

if variable > 20:
    print("The value of the variable is greater than 20.")

if variable == 23:
    print("The value of the variable is 23.")

if 30 < variable < 40:
    print("The value of the variable is greater than 30 and less than 40.")

The value of the variable is greater than 20.
The value of the variable is greater than 30 and less than 40.